* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body,
input,
select,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
}

/* global.css */

:root {
  --transition-duration: 0.5s;
  --transition-timing-function: ease-in-out;
}

body {
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

a {
  text-decoration: none;
  font: 600 18px Nunito, sans-serif;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode a {
  color: #ffffff;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode a {
  color: #000;
}
