#page-registration-pets {
  display: flex;
}

#page-registration-pets main {
  flex: 1;
}

form.register-pet-form {
  width: 700px;
  margin: 64px auto;
  border-radius: 20px;

  padding: 64px 80px;
  overflow: hidden;
}

form.register-pet-form fieldset {
  border: 0;
}

form.register-pet-form .map-info {
  font-size: 14px;
  padding-top: 50px;
  line-height: 24px;
}

form.register-pet-form fieldset + fieldset {
  margin-top: 80px;
}

form.register-pet-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  font-weight: 700;

  margin-bottom: 40px;

  padding-top: 24px;
}

form.register-pet-form .input-block + .input-block {
  margin-top: 24px;
}

form.register-pet-form .input-block label {
  display: flex;
  margin-bottom: 8px;
  line-height: 24px;
  padding-top: 24px;
}

form.register-pet-form .input-block label span {
  font-size: 14px;
  margin-left: 24px;
  line-height: 24px;
}

form.register-pet-form .input-block textarea {
  width: 100%;
  border-radius: 20px;
  outline: none;
}

form.register-pet-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

form.create-orphanage-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

form.create-orphanage-form .input-block input[type='file'] {
  display: none;
}

form.create-orphanage-form .input-block .new-image {
  height: 96px;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

form.register-pet-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.register-pet-form .input-block .button-select button {
  height: 64px;
  cursor: pointer;
}

form.register-pet-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

form.register-pet-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}

/* Modo Light */
body.light-mode #page-registration-pets main {
  background-color: #f7f7f7;
}

body.light-mode form.register-pet-form {
  background: #ffffff;
  border: 1px solid #d3e2e5;
}

body.light-mode form.register-pet-form .input-block input,
body.light-mode form.register-pet-form .input-block textarea {
  background: #f5f8fa;
}

body.light-mode
  form.register-pet-form
  .input-block
  .button-select
  button.active {
  background: #faf5f5;
  border: 1px solid #e9a1a1;
}

body.light-mode form.register-pet-form .map-info {
  color: #8fa7b3;
}

body.light-mode form.register-pet-form fieldset legend {
  border-bottom: 1px solid #d3e2e5;
}

body.light-mode form.register-pet-form .input-block label {
  color: #8fa7b3;
}

body.light-mode form.register-pet-form .input-block label span {
  color: #8fa7b3;
}

body.light-mode form.register-pet-form .input-block textarea {
  border: 1px solid #d3e2e5;
  color: #8fa7b3;
}

body.light-mode form.register-pet-form .input-block .new-image {
  background: #f5f8fa;
  border: 1px dashed #96d2f0;
}

/* Modo Dark */
body.dark-mode #page-registration-pets main {
  background-color: #18191a;
}

body.dark-mode form.register-pet-form {
  background: #242526;
  border: 1px solid #666;
}

body.dark-mode form.register-pet-form fieldset legend {
  color: #ffd666;
}

body.dark-mode form.register-pet-form .input-block textarea {
  background: #3a3b3c;
}

body.dark-mode
  form.register-pet-form
  .input-block
  .button-select
  button.active {
  background: #faf9ee;
  border: 1px solid #e8e9a1;
  color: #000;
}

body.dark-mode form.register-pet-form .map-info {
  color: #faf9ee;
}

body.dark-mode form.register-pet-form fieldset legend {
  border-bottom: 1px solid #d3e2e5;
}

body.dark-mode form.register-pet-form .input-block label {
  color: #faf9ee;
}

body.dark-mode form.register-pet-form .input-block label span {
  color: #faf9ee;
}

body.dark-mode form.register-pet-form .input-block textarea {
  border: 1px solid #d3e2e5;
  color: #faf9ee;
}

body.dark-mode form.register-pet-form .input-block .new-image {
  background: #3a3b3c;
  border: 1px dashed #fff;
}
